<h1> Data Science Tools and Ecosystem</h1>

 In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>Commonly used libraries in Data Science</li>
    <li>popular tools for Data Science</li>
    <li>importance of data visualization</li>
    <li>basics of Jupyter notebook</li>

Some of the popular languages that Data Scientists use are:
<ol>
    <li> python </li>
    <li> R </li>
    <li> SQL </li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
    <ol>
    <li> Scientific computing </li>
    <li> Machine learning </li>
    <li> Visualization </li>
</ol>

<headder> Data Science Tools. </headder>
<li>Jupyter Notebook</li>
<li>R studio </li>
<li>Spyder</li>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [12]:
print(f"{200/60} hours")

3.3333333333333335 hours

<h2>Author</h2>
Nemaleshwar H